Repository bounswe/bounswe2023group1, pull requests merged in 2023-12, with the labels that each got.

#564 Fix Unresponsiveness on Map Page and Enhance Annotation Card Functionality
  resq/.idea/.gitignore
  resq/.idea/misc.xml
  resq/.idea/modules.xml
  resq/.idea/resq.iml
  resq/.idea/vcs.xml
  resq/frontend/src/components/AnnotationCard.js
  resq/frontend/src/components/Cards/AnnotationCard.js
  resq/frontend/src/components/Resource/ResourceAddress.js
  resq/frontend/src/pages/MapPage.js
Labels: Type/Enhancement, Type/Code, frontend/map, frontend/feature, frontend/fix, priority:high

#571 Improved/Added coordinator functionalities.
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/ActionController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/ResourceController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/TaskController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/entity/enums/EUserRole.java
  resq/backend/resq/src/main/java/com/groupa1/resq/repository/ActionRepository.java
  resq/backend/resq/src/main/java/com/groupa1/resq/repository/TaskRepository.java
  resq/backend/resq/src/main/java/com/groupa1/resq/request/UpdateActionRequest.java
  resq/backend/resq/src/main/java/com/groupa1/resq/request/UpdateTaskRequest.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/ActionService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/ResourceService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/TaskService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/specification/ActionSpecifications.java
  resq/backend/resq/src/main/java/com/groupa1/resq/specification/ResourceSpecifications.java
  resq/backend/resq/src/main/java/com/groupa1/resq/specification/TaskSpecifications.java
  resq/backend/resq/src/main/java/com/groupa1/resq/util/NotificationMessages.java
Labels: API

#577 Improved/Added admin functionalities.
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/NotificationController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/UserController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/exception/EntityNotAllowedException.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/UserService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/util/NotificationMessages.java
Labels: API

#569 Address the Deficiency at Resource Type and Resource Selection Logic in ResourceDetails1 Component
  resq/frontend/src/components/Resource/ResourceDetail1.js
Labels: Type/Enhancement, frontend/resource, frontend/feature, frontend/fix

#562 Implementation - First Draft of - Customer Request - Add Components as Images To be Annotated to Resources
  resq/frontend/src/components/Resource/ResourceCreation.js
  resq/frontend/src/components/Resource/ResourceDetail3.js
Labels: frontend/resource, frontend/feature, priority:high

#575 Responder Specific Map Implementation Changed with The Purpose of Showing Responders Their Tasks Only
  resq/frontend/src/App.js
  resq/frontend/src/pages/ResponderMapPage.js
Labels: Type/Enhancement, frontend/resource, frontend/task, frontend/corrdination, frontend/fix

#590 Resource selection implementation with category tree revised
  resq/frontend/src/components/Resource/ResourceDetail1.js
Labels: Type/Bug, Type/Code, frontend/resource, frontend/fix

#424 Feature/be 398 task action improvement
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/ActionController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/FeedbackController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/NotificationController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/ResourceController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/TaskController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/converter/ActionConverter.java
  resq/backend/resq/src/main/java/com/groupa1/resq/converter/FeedbackConverter.java
  resq/backend/resq/src/main/java/com/groupa1/resq/converter/ResourceConverter.java
  resq/backend/resq/src/main/java/com/groupa1/resq/converter/TaskConverter.java
  resq/backend/resq/src/main/java/com/groupa1/resq/dto/ActionDto.java
  resq/backend/resq/src/main/java/com/groupa1/resq/dto/FeedbackDto.java
  resq/backend/resq/src/main/java/com/groupa1/resq/dto/ResourceDto.java
  resq/backend/resq/src/main/java/com/groupa1/resq/dto/TaskDto.java
  resq/backend/resq/src/main/java/com/groupa1/resq/entity/Action.java
  resq/backend/resq/src/main/java/com/groupa1/resq/entity/Comment.java
  resq/backend/resq/src/main/java/com/groupa1/resq/entity/Resource.java
  resq/backend/resq/src/main/java/com/groupa1/resq/entity/Task.java
  resq/backend/resq/src/main/java/com/groupa1/resq/entity/enums/EResourceStatus.java
  resq/backend/resq/src/main/java/com/groupa1/resq/entity/enums/EStatus.java
  resq/backend/resq/src/main/java/com/groupa1/resq/exception/GeneralExceptionHandler.java
  resq/backend/resq/src/main/java/com/groupa1/resq/repository/ActionRepository.java
  resq/backend/resq/src/main/java/com/groupa1/resq/repository/FeedbackRepository.java
  resq/backend/resq/src/main/java/com/groupa1/resq/repository/TaskRepository.java
  resq/backend/resq/src/main/java/com/groupa1/resq/request/AddResourceToTaskRequest.java
  resq/backend/resq/src/main/java/com/groupa1/resq/request/CreateActionRequest.java
  resq/backend/resq/src/main/java/com/groupa1/resq/request/CreateCommentRequest.java
  resq/backend/resq/src/main/java/com/groupa1/resq/request/CreateFeedbackRequest.java
  resq/backend/resq/src/main/java/com/groupa1/resq/request/CreateResourceRequest.java
  resq/backend/resq/src/main/java/com/groupa1/resq/request/CreateTaskRequest.java
  resq/backend/resq/src/main/java/com/groupa1/resq/request/UpdateActionRequest.java
  resq/backend/resq/src/main/java/com/groupa1/resq/request/UpdateTaskRequest.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/ActionService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/FeedbackService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/ResourceService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/TaskService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/specification/ActionSpecifications.java
  resq/backend/resq/src/main/java/com/groupa1/resq/specification/ResourceSpecifications.java
  resq/backend/resq/src/main/java/com/groupa1/resq/specification/TaskSpecifications.java
  resq/backend/resq/src/main/java/com/groupa1/resq/util/NotificationMessages.java
  resq/backend/resq/src/main/java/com/groupa1/resq/util/NullAwareBeanUtilsBean.java
  resq/backend/resq/src/test/java/com/groupa1/resq/service/ActionServiceTest.java
  resq/backend/resq/src/test/java/com/groupa1/resq/service/TaskServiceTest.java
Labels: API

#607 Filtering Resource by Receiver Id
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/ResourceController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/ResourceService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/specification/ResourceSpecifications.java
Labels: API

#605 My requests page added
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Need.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ResqService.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/MyRequestsScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/ProfileScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/utils/NavigationItem.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/MyRequestsViewModel.kt
Labels: Mobile

#604 Implement need and resource lists. Format lists for Map Screen
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/CategoryTreeNode.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Need.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Profile.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ResqService.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/MapScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/MapViewModel.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/ProfileViewModel.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/ResourceViewModel.kt
Labels: Mobile

#610 Feature/mobile 360 profile bug fix
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Profile.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ResqService.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/ProfileScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/ProfileViewModel.kt
Labels: Mobile

#617 Save location in shared preferences
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/manager/UserSessionManager.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/MapViewModel.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/RequestViewModel.kt
Labels: Mobile

#614 Feature/be 572 74 missing unit tests
  resq/backend/resq/src/main/java/com/groupa1/resq/entity/Action.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/ActionService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/RequestService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/TaskService.java
  resq/backend/resq/src/test/java/com/groupa1/resq/service/ActionServiceTest.java
  resq/backend/resq/src/test/java/com/groupa1/resq/service/NeedServiceTest.java
  resq/backend/resq/src/test/java/com/groupa1/resq/service/TaskServiceTest.java
Labels: API

#622 Topbar Edited to Show Role Based Panel View
  resq/frontend/src/App.js
Labels: frontend/profile-user-account

#624 - OngoingTasksScreen updated according to backend
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Task.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ResqService.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/OngoingTasksScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/MyRequestsViewModel.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/OngoingTasksViewModel.kt
Labels: Mobile

#626 Update resource services. Update resource lists on map screen.
  resq/mobile/ResQ/app/build.gradle.kts
  resq/mobile/ResQ/app/src/main/AndroidManifest.xml
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Resource.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ResqService.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/MapScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/MapViewModel.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/ResourceViewModel.kt
Labels: Mobile

#628 Delete resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels…
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/TasksViewModel.kt
Labels: Mobile

#630 Missing unit tests for Resource & Notification Service
  resq/backend/resq/src/test/java/com/groupa1/resq/service/NotificationServiceTest.java
  resq/backend/resq/src/test/java/com/groupa1/resq/service/ResourceServiceTest.java
Labels: API

#635 Update My Requests Page
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ResqService.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/MyRequestsScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/MyRequestsViewModel.kt
Labels: Mobile

#639 Feature/mobile 500 map implementation
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ResqService.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/MapScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/MyResourcesScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/ProfileScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/utils/NavigationItem.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/MapViewModel.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/MyResourcesViewModel.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/RequestViewModel.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/ResourceViewModel.kt
  resq/mobile/ResQ/app/src/main/res/drawable/warning_24.png
Labels: Mobile

#640 Resource Backend Integration Enhancements
  resq/frontend/src/AppService.js
  resq/frontend/src/components/Geolocation.js
  resq/frontend/src/components/Request/RequestAddress.js
  resq/frontend/src/components/Resource/ResourceCreation.js
  resq/frontend/src/components/Resource/ResourceDetail1.js
  resq/frontend/src/components/Resource/ResourceDetail2.js
  resq/frontend/src/components/Resource/ResourceDetail3.js
Labels: frontend/resource, frontend/fix, frontend/backintegration

#644 Frontend- Security and Privacy - KVKK
  resq/frontend/localhost-key.pem
  resq/frontend/localhost.pem
  resq/frontend/src/pages/SignUp.js
Labels: frontend/profile-user-account, frontend/feature

#642 Request Backend Integration - Seperate createNeed Requests For Each Category
  resq/frontend/src/AppService.js
  resq/frontend/src/components/Request/NeedContext.js
  resq/frontend/src/components/Request/RequestAddress.js
  resq/frontend/src/components/Request/RequestCreation.js
  resq/frontend/src/components/Request/RequestDetails1.js
  resq/frontend/src/components/Request/RequestDetails2.js
  resq/frontend/src/components/Request/RequestDetails3.js
Labels: Help Wanted, frontend/resource, frontend/request, frontend/fix, frontend/backintegration
