Repository bounswe/bounswe2023group1, pull requests merged in 2023-10, with the labels that each got.

#272 feature/BE-255-backend-init-setup
  resq/backend/resq/.gitignore
  resq/backend/resq/.mvn/wrapper/maven-wrapper.jar
  resq/backend/resq/.mvn/wrapper/maven-wrapper.properties
  resq/backend/resq/README.md
  resq/backend/resq/mvnw
  resq/backend/resq/mvnw.cmd
  resq/backend/resq/pom.xml
  resq/backend/resq/src/main/java/com/groupa1/resq/ResqApplication.java
  resq/backend/resq/src/main/java/com/groupa1/resq/config/ResqAppProperties.java
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/UserController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/exception/EntityNotFoundException.java
  resq/backend/resq/src/main/java/com/groupa1/resq/exception/GeneralExceptionHandler.java
  resq/backend/resq/src/main/resources/application.properties
  resq/backend/resq/src/main/resources/logback-spring.xml
  resq/backend/resq/src/test/java/com/groupa1/resq/ResqApplicationTests.java
Labels: Priority/High, API, Effort/Medium

#289 Initial Mobile Deployment
  resq/mobile/ResQ/.gitignore
  resq/mobile/ResQ/.idea/.gitignore
  resq/mobile/ResQ/.idea/compiler.xml
  resq/mobile/ResQ/.idea/gradle.xml
  resq/mobile/ResQ/.idea/kotlinc.xml
  resq/mobile/ResQ/.idea/misc.xml
  resq/mobile/ResQ/.idea/vcs.xml
  resq/mobile/ResQ/app/.gitignore
  resq/mobile/ResQ/app/build.gradle.kts
  resq/mobile/ResQ/app/proguard-rules.pro
  resq/mobile/ResQ/app/src/androidTest/java/com/cmpe451/resq/ExampleInstrumentedTest.kt
  resq/mobile/ResQ/app/src/main/AndroidManifest.xml
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/.gitkeep
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/domain/.gitkeep
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/theme/Color.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/theme/Theme.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/theme/Type.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/components/.gitkeep
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/utils/.gitkeep
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/.gitkeep
  resq/mobile/ResQ/app/src/main/res/drawable/ic_launcher_background.xml
  resq/mobile/ResQ/app/src/main/res/drawable/ic_launcher_foreground.xml
  resq/mobile/ResQ/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  resq/mobile/ResQ/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  resq/mobile/ResQ/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  resq/mobile/ResQ/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  resq/mobile/ResQ/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  resq/mobile/ResQ/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  resq/mobile/ResQ/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  resq/mobile/ResQ/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  resq/mobile/ResQ/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  resq/mobile/ResQ/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  resq/mobile/ResQ/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  resq/mobile/ResQ/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  resq/mobile/ResQ/app/src/main/res/values/colors.xml
  resq/mobile/ResQ/app/src/main/res/values/strings.xml
  resq/mobile/ResQ/app/src/main/res/values/themes.xml
  resq/mobile/ResQ/app/src/main/res/xml/backup_rules.xml
  resq/mobile/ResQ/app/src/main/res/xml/data_extraction_rules.xml
  resq/mobile/ResQ/app/src/test/java/com/cmpe451/resq/ExampleUnitTest.kt
  resq/mobile/ResQ/build.gradle.kts
  resq/mobile/ResQ/gradle.properties
  resq/mobile/ResQ/gradle/wrapper/gradle-wrapper.jar
  resq/mobile/ResQ/gradle/wrapper/gradle-wrapper.properties
  resq/mobile/ResQ/gradlew
  resq/mobile/ResQ/gradlew.bat
  resq/mobile/ResQ/settings.gradle.kts
Labels: Priority/High, Type/Code, Effort/Low, Mobile

#305 Feature/be 283 victim api
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/NeedController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/RequestController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/UserController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/entity/Need.java
  resq/backend/resq/src/main/java/com/groupa1/resq/entity/Request.java
  resq/backend/resq/src/main/java/com/groupa1/resq/exception/GeneralExceptionHandler.java
  resq/backend/resq/src/main/java/com/groupa1/resq/exception/NotOwnerException.java
  resq/backend/resq/src/main/java/com/groupa1/resq/repository/NeedRepository.java
  resq/backend/resq/src/main/java/com/groupa1/resq/repository/RequestRepository.java
  resq/backend/resq/src/main/java/com/groupa1/resq/request/CreateNeedRequest.java
  resq/backend/resq/src/main/java/com/groupa1/resq/request/CreateReqRequest.java
  resq/backend/resq/src/main/java/com/groupa1/resq/request/UpdateNeedRequest.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/NeedService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/RequestService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/specification/NeedSpecifications.java
Labels: API

#293 Feature/mobile 275 login registration pages
  resq/mobile/ResQ/app/build.gradle.kts
  resq/mobile/ResQ/app/src/main/AndroidManifest.xml
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/User.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/AuthApi.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/domain/.gitkeep
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/domain/LoginUseCase.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/domain/RegisterUseCase.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/theme/Color.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/components/.gitkeep
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/components/InputField.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/DummyScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/LoginScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/RegistrationScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/.gitkeep
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/LoginViewModel.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/RegistrationViewModel.kt
  resq/mobile/ResQ/app/src/main/res/drawable/logo.png
  resq/mobile/ResQ/app/src/main/res/font/lexend_deca.ttf
  resq/mobile/ResQ/build.gradle.kts
Labels: Mobile

#327 Feature/mobile 278 user profile page
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Profile.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/AuthApi.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ProfileApi.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/ProfileScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/ProfileViewModel.kt
Labels: Mobile

#345 Need-Request unit tests are implemented.
  resq/backend/resq/src/test/java/com/groupa1/resq/service/NeedServiceTest.java
  resq/backend/resq/src/test/java/com/groupa1/resq/service/RequestServiceTest.java
Labels: Priority/High, API, Effort/Medium, Revision
