Repository bounswe/bounswe2023group1, pull requests merged in 2023-11, with the labels that each got.

#384 #297 Finalized the category tree.
  resq/backend/resq/src/main/java/com/groupa1/resq/config/TreeInitializationService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/CategoryTreeNodeController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/entity/CategoryTreeNode.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/CategoryTreeNodeService.java
  resq/backend/resq/src/main/resources/category-tree.json
Labels: API

#412 Feature/mobile 391 ongoing task screen
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/OngoingTasksScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/utils/NavigationItem.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/OngoingTasksViewModel.kt
Labels: Mobile

#411 Feature/mobile 371 resource creation page
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/ResourceScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/utils/NavigationItem.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/ResourceViewModel.kt
Labels: Mobile

#402 #364 Update sign in and sign up pages
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/LoginScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/RegistrationScreen.kt
Labels: Mobile

#423 Feature/mobile 370
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/manager/UserSessionManager.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/User.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/domain/LoginUseCase.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/theme/Color.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/LoginScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/MapScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/ProfileScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/utils/NavigationItem.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/LoginViewModel.kt
Labels: Mobile

#429 Adjust button visibilities via shared preferences
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ProfileApi.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/domain/LoginUseCase.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/LoginScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/MapScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/ProfileScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/LoginViewModel.kt
Labels: Mobile

#433 Add new url in Constants.kt file. Create UserSessionManager
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/Constants.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/manager/UserSessionManager.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/AuthApi.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ProfileApi.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/domain/LoginUseCase.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/MapScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/utils/NavigationItem.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/LoginViewModel.kt
Labels: Type/Enhancement, Mobile

#435 Implement UserSessionManager into Profile
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/manager/UserSessionManager.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Profile.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ProfileApi.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/domain/LoginUseCase.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/ProfileScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/ProfileViewModel.kt
Labels: Mobile

#440 Edit backend requests
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/manager/UserSessionManager.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Auth.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Profile.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/User.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/AuthApi.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ProfileApi.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ResqService.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/domain/LoginUseCase.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/domain/RegisterUseCase.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/MapScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/RegistrationScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/ResourceScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/LoginViewModel.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/ProfileViewModel.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/RegistrationViewModel.kt
Labels: Mobile

#442 Logout Implementation
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/theme/Color.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/SettingsScreen.kt
Labels: Type/Code, Mobile

#445 Guest View Implementation and Navigation
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/MapScreen.kt
Labels: Type/Code, Mobile

#451 Feature/mobile 360 update user profiles
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/ProfileScreen.kt
Labels: Mobile

#453 Add CategoryNodeTree services. Integrate into Add Request.
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/Constants.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Auth.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Request.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ResqService.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/domain/LoginUseCase.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/domain/RegisterUseCase.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/RequestScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/LoginViewModel.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/ProfileViewModel.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/RegistrationViewModel.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/RequestViewModel.kt
Labels: Mobile

#455 Fix/be 454 entities to dto
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/NeedController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/RequestController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/ResourceController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/converter/NeedConverter.java
  resq/backend/resq/src/main/java/com/groupa1/resq/converter/RequestConverter.java
  resq/backend/resq/src/main/java/com/groupa1/resq/converter/ResourceConverter.java
  resq/backend/resq/src/main/java/com/groupa1/resq/dto/NeedDto.java
  resq/backend/resq/src/main/java/com/groupa1/resq/dto/RequestDto.java
  resq/backend/resq/src/main/java/com/groupa1/resq/dto/ResourceDto.java
  resq/backend/resq/src/main/java/com/groupa1/resq/entity/Request.java
  resq/backend/resq/src/main/java/com/groupa1/resq/repository/ResourceRepository.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/NeedService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/RequestService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/ResourceService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/specification/ResourceSpecifications.java
Labels: API

#465 Send requests to backend for Need Creation
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/manager/UserSessionManager.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Request.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ResqService.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/RequestScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/LoginViewModel.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/RequestViewModel.kt
Labels: Mobile

#471 created at added to action, resource, request, need
  resq/backend/resq/src/main/java/com/groupa1/resq/converter/NeedConverter.java
  resq/backend/resq/src/main/java/com/groupa1/resq/converter/RequestConverter.java
  resq/backend/resq/src/main/java/com/groupa1/resq/converter/ResourceConverter.java
  resq/backend/resq/src/main/java/com/groupa1/resq/dto/NeedDto.java
  resq/backend/resq/src/main/java/com/groupa1/resq/dto/RequestDto.java
  resq/backend/resq/src/main/java/com/groupa1/resq/dto/ResourceDto.java
  resq/backend/resq/src/main/java/com/groupa1/resq/response/ActionResponse.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/ActionService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/ResourceService.java
Labels: API

#492 Improved the location functionalities. Also added remaining unit test…
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/NeedController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/controller/RequestController.java
  resq/backend/resq/src/main/java/com/groupa1/resq/repository/RequestRepository.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/NeedService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/service/RequestService.java
  resq/backend/resq/src/main/java/com/groupa1/resq/specification/NeedSpecifications.java
  resq/backend/resq/src/main/java/com/groupa1/resq/specification/RequestSpecifications.java
  resq/backend/resq/src/test/java/com/groupa1/resq/service/NeedServiceTest.java
  resq/backend/resq/src/test/java/com/groupa1/resq/service/RequestServiceTest.java
Labels: API

#497 Implement resource creation
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/CategoryTreeNode.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Request.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Resource.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ResqService.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/components/DropdownMenuComponent.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/RequestScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/ResourceScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/RequestViewModel.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/ResourceViewModel.kt
  resq/mobile/ResQ/secrets.properties
Labels: Mobile

#491 Request Role Implementation
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ResqService.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/ProfileScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/ProfileViewModel.kt
Labels: Type/Code, URGENT ❗, Mobile

#480 Map implementation
  resq/mobile/ResQ/app/build.gradle.kts
  resq/mobile/ResQ/app/src/main/AndroidManifest.xml
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/MainActivity.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Need.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ResqService.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/LoginScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/MapScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/ProfileScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/RegistrationScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/MapViewModel.kt
  resq/mobile/ResQ/build.gradle.kts
Labels: Type/Code, Mobile

#498 Feature/mobile 360 update user profiles
  resq/mobile/ResQ/app/build.gradle.kts
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/models/Profile.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/data/remote/ResqService.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/theme/Color.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/ui/views/screens/ProfileScreen.kt
  resq/mobile/ResQ/app/src/main/java/com/cmpe451/resq/viewmodels/ProfileViewModel.kt
Labels: Mobile
