Repository bounswe/bounswe2023group1, pull requests merged in 2023-05, with the labels that each got.

#188 Give and get feedback functionalities added
  practice-app/backend/disasterresponse/src/main/java/com/a1/disasterresponse/controller/WeatherController.java
  practice-app/backend/disasterresponse/src/main/java/com/a1/disasterresponse/model/Feedback.java
  practice-app/backend/disasterresponse/src/main/java/com/a1/disasterresponse/repository/FeedbackRepository.java
  practice-app/backend/disasterresponse/src/main/java/com/a1/disasterresponse/service/WeatherService.java
Labels: Priority/High, API

#195 Translation api
  practice-app/backend/disasterresponse/pom.xml
  practice-app/backend/disasterresponse/src/main/java/com/a1/disasterresponse/controller/TranslationController.java
  practice-app/backend/disasterresponse/src/main/java/com/a1/disasterresponse/model/TranslationData.java
  practice-app/backend/disasterresponse/src/main/java/com/a1/disasterresponse/service/TranslationService.java
  practice-app/frontend/disasterresponse/src/App.js
  practice-app/frontend/disasterresponse/src/pages/TranslationApi/GoogleTranslationPage.css
  practice-app/frontend/disasterresponse/src/pages/TranslationApi/GoogleTranslationPage.jsx
Labels: API

#198 Geo js
  practice-app/backend/disasterresponse/src/main/java/com/a1/disasterresponse/controller/GeoJsController.java
  practice-app/backend/disasterresponse/src/main/java/com/a1/disasterresponse/model/IpList.java
  practice-app/backend/disasterresponse/src/main/java/com/a1/disasterresponse/repository/IpListRepository.java
  practice-app/backend/disasterresponse/src/main/java/com/a1/disasterresponse/service/GeoJsService.java
  practice-app/frontend/disasterresponse/src/pages/GeoJsApi/GeoJsPage.jsx
Labels: API

#230 Fix deployment
  practice-app/backend/disasterresponse/Dockerfile
  practice-app/docker-compose.yml
  practice-app/frontend/disasterresponse/Dockerfile
Labels: Deployment, URGENT ❗
